/*=============================
Extra Large Screen - Others
===============================*/
@media screen and (min-width: 1440px) {
    .blog-card {
        height: 30vw;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
    .analyse-card:nth-child(3) .arrow-one-svg {
        left: 23px;
        bottom: 50px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .intro-area-text p br {
        display: none;
    }

    .featured-area {
        padding-bottom: 139px;
    }

    .free-audit-area {
        border-top: 1px solid #bcbcbc;
        padding-top: 65px;
    }

    .counter-area {
        padding-bottom: 240px;
    }

    .image-area {
        padding-bottom: 50px;
    }
    .direkt-list ul li span {
        font-size: 16px;
    }
    .direkt-list ul li::before {
        width: 5px;
        height: 5px;
    }
    .analyse-card:nth-child(3) .arrow-one-svg {
        left: 0;
        bottom: 25px;
    }
    .analyse-card h3 {
        color: #ee1f25;
    }

    .client-portal-wrpper h2 {
        font-size: 80px;
    }
    .client-portal-wrpper h3 {
        font-size: 34px;
    }
    .client-portal-wrpper h4 {
        font-size: 18px;
        padding-right: 80px;
    }
    .client-portal-features li p {
        font-size: 12px;
    }
    .download-buttons img {
        max-width: 195px;
    }
}

/*========================
Large Screen - Leptop
==========================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .intro-area h1 {
        font-size: 200px;
    }

    .intro-area-text p br {
        display: none;
    }

    .featured-area {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .featured-cards {
        gap: 20px;
    }
    .single-featured-card {
        padding: 25px 15px;
    }
    .single-featured-card h2 {
        font-size: 40px;
    }
    .description-card p {
        font-size: 17px;
    }
    .title-card h3 {
        font-size: 25px;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .featured-area {
        padding-bottom: 139px;
    }
    .free-audit-area {
        border-top: 1px solid #bcbcbc;
        padding-top: 65px;
    }

    .counter-area {
        padding-bottom: 235px;
    }
    .footer-left p {
        font-size: 16px;
    }
    .footer-bottom {
        margin-top: 26.4px;
    }

    .investieren-row {
        padding-top: 60px;
    }
    .investieren-row.row-one {
        padding-bottom: 160px;
    }

    .image-area {
        padding-bottom: 0px;
    }

    .image-area {
        padding-bottom: 50px;
    }
    .direkt-list ul li span {
        font-size: 16px;
    }
    .direkt-list ul li::before {
        width: 5px;
        height: 5px;
    }
    .analyse-card:nth-child(3) .arrow-one-svg {
        left: 0;
        bottom: -30px;
    }
    .analyse-card h3 {
        color: #ee1f25;
    }
    .analyse-card h6 {
        font-size: 24px;
    }
    .analyse-card p {
        font-size: 16px;
    }
    .analyse-card:nth-child(2),
    .analyse-card:nth-child(4) {
        padding-top: 60px;
    }
    .arrow-one-svg {
        bottom: -40px;
    }
    .analyse-row {
        gap: 40px;
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 120px;
        padding-bottom: 175px;
    }

    .client-portal-wrpper h2 {
        font-size: 80px;
    }
    .client-portal-wrpper h3 {
        font-size: 34px;
    }
    .client-portal-wrpper h4 {
        font-size: 18px;
        padding-right: 80px;
    }
    .client-portal-features li p {
        font-size: 12px;
    }
    .download-buttons img {
        max-width: 195px;
    }

    .linkedIn-area-text p {
        padding-right: 0;
    }
    .linkedIn-post-area {
        padding-top: 85px;
    }
    .linkedIn-post-area .row {
        row-gap: 30px;
    }
}

/*=========================
Medium Screen - Tablate
=========================*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .intro-area {
        margin-top: 95px;
    }
    .intro-area h1 {
        font-size: 150px;
    }
    .intro-area h1 span {
        font-size: 170px;
    }

    .intro-area-text p br {
        display: none;
    }

    .featured-area {
        padding-top: 0;
        padding-bottom: 100px;
    }
    .featured-cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .single-featured-card {
        padding: 30px 25px;
    }

    .featured-area {
        padding-bottom: 190px;
    }
    .free-audit-area {
        border-top: 1px solid #bcbcbc;
        padding-top: 65px;
    }
    .free-audit-content p {
        font-size: 21px;
    }
    .free-audit-container ul {
        list-style-position: outside;
    }

    .plans-area {
        padding-bottom: 80px;
    }
    .plans-area .row {
        row-gap: 30px;
    }

    .count-numbers h2 {
        margin-bottom: 90px;
    }
    .single-state h3 {
        font-size: 80px;
    }
    .counter-area {
        padding-top: 80px;
        padding-bottom: 213px;
    }

    .footer-top-area .row {
        row-gap: 20px;
    }
    .footer-left p {
        font-size: 16px;
    }
    .footer-bottom {
        margin-top: 20px;
    }

    .intro-area h2 {
        font-size: 137px;
        font-weight: 700;
    }

    .investieren-row {
        padding-top: 45px;
    }
    .investieren-content-box h1 {
        font-size: 46px;
    }

    .investieren-row.row-one {
        padding-bottom: 147px;
    }
    .second-investieren-row {
        padding-bottom: 77px;
    }

    .contact-banner-area h1 {
        font-size: 145px;
        margin-top: 86px;
        margin-bottom: 125px;
    }

    .image-area {
        padding-top: 30px;
        padding-bottom: 0px;
    }

    .analyse-row {
        grid-template-columns: 1fr;
        gap: 40px;
        padding-bottom: 220px;
    }
    .analyse-card {
        max-width: 400px;
        margin: auto;
        text-align: center;
    }
    .arrow-one-svg,
    .arrow-two-svg {
        display: none;
    }
    .analyse-card:nth-child(2),
    .analyse-card:nth-child(4) {
        padding-top: 0;
    }
    .analyse-card h3 {
        color: #ee1f25;
    }
    .direkt-area {
        grid-template-columns: 0.8fr 1.2fr;
        padding-top: 64px;
        gap: 30px;
    }

    .client-portal-wrpper {
        padding-top: 35px;
    }
    .client-portal-wrpper h4 {
        font-size: 17px;
    }
    .client-portal-wrpper h2 {
        font-size: 96px;
    }

    .linkedIn-area-text p {
        padding-right: 0;
    }
    .linkedIn-post-area {
        padding-top: 70px;
    }
    .linkedIn-post-area .row {
        row-gap: 30px;
    }
    .intro-area.linkedIn-intro h3 {
        margin-top: 15px;
        font-size: 20px;
    }
}

/*===============================
Xtra Small Screen - Small Mobile
=================================*/
@media screen and (max-width: 767px) {
    body {
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu-area {
        padding-top: 40px;
    }

    .menu-active {
        transform: translateY(45%);
    }

    .mobile-menu-location {
        grid-template-columns: 0.65fr 1.35fr;
    }

    .intro-area {
        margin-top: 75px;
        padding-bottom: 45px;
    }
    .intro-wrpper {
        margin-bottom: 1rem;
    }
    .intro-area h1 {
        font-size: 155px;
        text-align: center;
    }
    .intro-area h1 span {
        font-size: 175px;
    }
    .scroll-down {
        display: none;
    }

    .intro-area-text .row {
        row-gap: 30px;
    }

    .intro-area-text p br {
        display: none;
    }

    .featured-cards {
        grid-template-columns: 1fr;
    }

    .single-featured-card:first-child {
        padding-left: 20px;
        padding-right: 20px;
        background: #161616;
        border-color: #161616;
    }
    .single-featured-card:not(:first-child) {
        display: none;
    }
    .single-featured-card h2 {
        font-size: 35px;
    }
    .first-card-p p {
        font-size: 16px;
    }
    .featured-area {
        padding-top: 0;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .featured-area {
        padding-bottom: 40px;
    }
    .free-audit-area {
        border-top: 1px solid #bcbcbc;
        padding-top: 70px;
        padding-bottom: 142px;
    }
    .free-audit-content p {
        font-size: 23px;
    }
    .free-audit-container ul {
        list-style-position: outside;
    }
    .buttons {
        flex-direction: column;
    }
    .free-audit-container .row {
        row-gap: 25px;
    }

    .brands-container {
        row-gap: 37px;
        justify-content: center;
    }
    .single-brand-logo {
        width: 50%;
    }
    .brands-container-two {
        margin-top: 20px;
    }
    .trusted-brands-area {
        padding-bottom: 140px;
    }
    .buttons a {
        font-size: 20px;
        padding: 14px 24px;
        text-transform: capitalize;
    }

    .blog-card {
        height: 120vw;
    }
    .plans-area {
        padding-bottom: 30px;
    }
    .plans-area .row {
        row-gap: 30px;
    }

    .count-numbers h2 {
        margin-bottom: 65px;
        margin-top: 20px;
    }
    .single-state h3 {
        font-size: 75px;
    }
    .stats-part {
        row-gap: 55px;
    }
    .counter-area {
        padding-bottom: 200px;
    }

    .footer-top-area .row {
        row-gap: 20px;
    }
    .footer-left p {
        font-size: 16px;
    }
    .footer-bottom {
        margin-top: 20px;
    }
    .footer-bottom ul li a {
        font-size: 15px;
    }
    .footer-bottom ul {
        align-items: start;
    }
    .back-to-top {
        display: none;
    }
    .footer-menu li {
        margin-top: 0 !important;
    }
    .footer-menu li a {
        font-size: 18px !important;
    }
    .footer-menu {
        padding-right: 30px;
    }

    .intro-area h2 {
        font-size: 68px;
    }

    .investieren-content-box h1 {
        font-size: 52px;
    }

    .investieren-row {
        padding-top: 60px;
    }
    .second-investieren-row {
        margin-top: 0;
        padding-bottom: 40px;
    }
    .investieren-row.row-one {
        padding-bottom: 90px;
    }

    .contact-banner-area h1 {
        font-size: 23vw;
        margin-top: 70px;
        margin-bottom: 75px;
    }

    .form-row {
        grid-template-columns: 1fr;
    }
    .form-wrapper {
        padding-bottom: 197px;
    }

    .image-area {
        padding-top: 61px;
        padding-bottom: 10px;
        grid-template-columns: 1fr;
    }

    .direkt-area {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .direkt-author {
        font-size: 20px;
    }
    .direkt-designation {
        font-size: 16px;
    }
    .direkt-area {
        padding-bottom: 192px;
    }
    .funktionieren-area {
        padding-left: 0;
        padding-right: 0;
    }
    .sub-title {
        text-align: left;
    }
    .direkt-title {
        color: #f37021;
    }
    .funcktionieren-title {
        color: #f37021;
        font-size: 38px;
        text-align: left;
    }
    .direkt-list ul li span {
        font-size: 16px;
    }
    .direkt-list ul li::before {
        width: 7px;
        height: 7px;
    }
    .funcktionieren-desc {
        text-align: left;
    }

    .analyse-row {
        grid-template-columns: 1fr;
        gap: 40px;
        padding-bottom: 155px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 80px;
    }
    .analyse-card {
        max-width: 400px;
        margin: auto;
        text-align: center;
    }
    .arrow-one-svg,
    .arrow-two-svg {
        display: none;
    }
    .analyse-card:nth-child(2),
    .analyse-card:nth-child(4) {
        padding-top: 0;
    }
    .analyse-card h3 {
        color: #f37021;
        text-align: right;
    }
    .analyse-card h6,
    .analyse-card p {
        text-align: left;
    }
    .about-intro h1 {
        text-align: left;
        font-size: 68px;
    }
    .intro-area.about-area-wrpper {
        padding-bottom: 20px;
    }

    .accordion-wrpper h2 {
        color: #f37021;
        text-align: left;
        margin-bottom: 60px;
    }

    .client-portal-wrpper {
        padding: 20px 20px 0;
    }
    .client-portal-wrpper h2 {
        font-size: 80px;
    }
    .client-portal-wrpper h3 {
        font-size: 27px;
        text-align: center;
    }
    .client-portal-wrpper h4 {
        font-size: 16px;
        margin-top: 20px;
        text-align: center;
    }
    .download-buttons {
        margin-top: 55px;
        margin-bottom: 45px;
    }
    .client-portal-area {
        padding-bottom: 162px;
        border-bottom: 1px solid #dadada;
    }
    .download-buttons img {
        max-width: 130px;
    }

    .intro-area.linkedIn-intro h1 {
        font-size: 85px;
        text-align: left;
    }
    .intro-area.linkedIn-intro h3 {
        margin-top: -22px;
        font-size: 16px;
    }
    .intro-area.linkedIn-intro h3 span {
        font-size: 70px;
    }

    .intro-area.linkedIn-intro {
        margin-top: 75px;
        padding-bottom: 5px;
    }
    .linkedIn-area-text p {
        padding-right: 0;
    }
    .linkedIn-post-area {
        padding-top: 90px;
    }

    .linkedIn-post-area .row {
        row-gap: 15px;
    }
}

@media screen and (max-width: 480px) {
    .cta-card {
        padding: 30px;
        border-radius: 20px;
        border: 10px solid #f37021;
    }
    .cta-card h4 {
        font-size: 26px;
        line-height: normal;
    }
    .cta-card p {
        padding: 0 10px;
    }
    .cta-buttons {
        flex-direction: column;
    }
    .cta-buttons a:first-child {
        border: 5px solid #f37021;
        color: #f37021;
    }
    .cta-buttons a:last-child {
        background: #f37021;
        color: #fff;
    }
    .cta-buttons a {
        width: 100%;
    }
}
