/*=============================
Extra Large Screen - Others
===============================*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
}

/*========================
Large Screen - Leptop
==========================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
}

/*=========================
Medium Screen - Tablate
=========================*/
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/*===============================
Xtra Small Screen - Small Mobile
=================================*/
@media screen and (max-width: 767px) {
    body {
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu-area {
        padding-top: 40px;
    }

    .menu-active {
        transform: translateY(45%);
    }

    .mobile-menu-location {
        grid-template-columns: 0.65fr 1.35fr;
    }
}
