/*=====================
FONTS LINK HERE
======================*/
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/termina-test");

@font-face {
    font-family: "Termina";
    src: url("./fonts/Termina-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

/*======================
DEFAULT CSS HERE
========================*/
body {
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: #f2f2f2;
    color: #1a1a1a;
    padding-left: 25px;
    padding-right: 25px;
}

.termina {
    font-family: "Termina Test", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a,
a:hover {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.scrolltotop {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #008b8b;
    text-align: center;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 30px;
    bottom: 25px;
    display: none;
    animation: lab_top_up 5s linear infinite;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
}

.scrolltotop i {
    color: #ffff;
}

@keyframes lab_top_up {
    0% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-15px);
    }
}

.pluse,
.pluse2 {
    position: relative;
    top: 13px;
    left: -8px;
    z-index: -1;
}

.pluse::before,
.pluse2::before {
    width: 40px;
    height: 40px;
}

.pluse::after,
.pluse::before,
.pluse2::after,
.pluse2::before {
    background: #008b8b;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    display: block;
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
}

.pluse::after,
.pluse2::after {
    width: 30px;
    height: 30px;
    background: transparent;
    margin-left: -15px;
    margin-top: -15px;
}

.pluse::before {
    -webkit-animation: pluse_animate 2.5s infinite linear;
    animation: pluse_animate 2.5s infinite linear;
}

.pluse2::before {
    -webkit-animation: pluse_animate 3s infinite linear;
    animation: pluse_animate 3s infinite linear;
}

@keyframes pluse_animate {
    0% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(0.3);
        transform: translate(-50%, -50%) scale(0.3);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(2);
        transform: translate(-50%, -50%) scale(2);
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

/*======================
DEFAULT CSS HERE
========================*/

/*======================
Home Page CSS HERE
========================*/
.header-area {
    position: relative;
}
.menu-area {
    background: #f2f2f2;
    padding-top: 30px;
    position: relative;
    z-index: 50;
}

.logo-card img {
    width: 125px;
}

.SMN_effect-31 li:not(:first-child) {
    margin-top: 3px;
}

.mobile-menu-wrpper .SMN_effect-31 li:not(:first-child) {
    margin-top: 6px;
}

.SMN_effect-31 a {
    position: relative;
    overflow: hidden;
    display: block;
    text-align: left;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    padding: 0;
    color: #1a1a1a !important;
    font-weight: 700;
    font-size: 15px;
}

.SMN_effect-31 a span {
    display: block;
    -webkit-transition: -webkit-transform 500ms
        cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition:
        transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
        -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.SMN_effect-31 a:after {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    content: attr(data-hover);
    display: inline;
    text-align: left;
    -webkit-transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.SMN_effect-31 a:hover span {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.SMN_effect-31 a:hover:after {
    top: 0;
}

.SMN_effect-31 a:active {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

.location-text a {
    color: #1a1a1a;
    font-weight: 700;
}

#humbarger-icon {
    gap: 10px;
    cursor: pointer;
    font-weight: 600;
}

.mobile-menu-wrpper {
    background: #f2f2f2;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10; /* positive রাখো */

    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 300ms ease-in-out;
}

.menu-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(42%);
}

.mobile-menu-location {
    display: grid;
    grid-template-columns: 0.85fr 1.15fr;
}

.mobile-menu-location p {
    font-weight: 600;
}

/* INTRO AREA CSS */
.intro-wrpper {
    margin-bottom: 4rem;
}

.intro-area {
    margin-top: 90px;
    border-bottom: 1px solid #dadada;
}

.intro-area h1 {
    font-family: "Termina", sans-serif;
    color: #1a1a1a;
    font-size: 283px;
    font-weight: 700;
    line-height: 100%;
}

.intro-area p {
    font-weight: 600;
}

.intro-area p span {
    cursor: pointer;
}

.scroll-wrapper {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.arrow-box {
    position: relative;
    height: 18px;
    width: 20px;
}

.arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s ease;
}

.a1 {
    top: 0;
}

.a2 {
    top: -20px;
    opacity: 0;
}

/* Hover animation */
.scroll-wrapper:hover .a1 {
    top: 20px;
    opacity: 0;
}

.scroll-wrapper:hover .a2 {
    top: 0;
    opacity: 1;
}

.intro-area-text {
    margin-top: 60px;
}

.intro-area-text ul {
    list-style: disc;
    list-style-position: inside;
}

.intro-area-text span {
    font-weight: 600;
}

.intro-area-text p {
    font-size: 24px;
    font-weight: 600;
}

/* FEATURED AREA CSS */
.featured-area {
    padding-top: 100px;
    padding-bottom: 100px;
}

.featured-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.single-featured-card {
    padding: 48px 40px;
    border: 3px solid #1a1a1a;
    border-radius: 22px;
    box-shadow: 0 13px 100px #c7c7c740;
}

.single-featured-card:first-child {
    padding-left: 56px;
    padding-right: 80px;
    grid-row-start: 1;
    grid-column: 1 / 3;
    background: #161616;
    border-color: #161616;
}

.single-featured-card h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 56px;
    font-weight: 700;
}

.single-featured-card h2:first-child {
    color: white;
}

.single-featured-card h2:nth-child(2) {
    color: #f37021;
}

.single-featured-card h2:nth-child(3) {
    color: #0abab5;
}

.first-card-p p {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 600;
    margin-top: 26px;
}

.user-icon-card img {
    width: 60px;
}

.title-card h3 {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 16px;
}

.description-card p {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

/* FREE AUDIT AREA CSS */
.free-audit-container {
    width: 92.5%;
    margin: auto;
}

.free-audit-container ul {
    list-style: disc;
    list-style-position: inside;
}

.free-audit-container ul li {
    font-weight: 600;
}

.free-audit-content p {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.buttons a {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 14px 28px;
}

.free-audit-btn {
    border: 3px solid #1a1a1a;
    background: #1a1a1a;
    color: #fff;
    border-radius: 0 20px 20px 20px;
}

.free-audit-btn:hover {
    color: #fff;
}

.acquisitions-btn {
    border: 3px solid #1a1a1a;
    color: #1a1a1a;
    border-radius: 20px 20px 0px 20px;
}

.acquisitions-btn:hover {
    color: #1a1a1a;
}

.free-audit-area {
    padding-bottom: 183px;
}
